
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.SearchBar{
    text-align: center;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

.SearchBar > button{
    border: none;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    height: 35px;
    color: #666;
    margin-top: 2px;
}
.SearchBarOnly{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15%;
    padding:7px 8px;
    align-self: center;
    object-fit: cover;
}

.UltimaVisita{
    text-align: center;
}
.SecondaryTitle{
    margin: 20px;
    margin-top: 0px;
    padding-top: 20px;
    color: #666;

}
.lupaSim{
    border-style: none;
    background-color: transparent;
    font-size: 25px;
    align-self: self-end;
}

.hamburguer-bottom{
    font-size: 30px;
    color: white;
    background-color: #03264C;
    padding: 5px;
    border-radius: 25%;
    text-align: center;
    display: block;
    margin: auto;
    width: 45px;
    max-width: 50px;
}
.logoLink{
    display: block;
    width: 40%;
}
.logo{
    width: 100%;
    margin-top: 0;
    padding-top: 0;
  /*   object-fit: contain; */
}
.cuerpoTexto{
    font-size: 12px;
}
.TextoBusqueda{
    font-weight: 400;
    text-align: center;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.barraBusqueda{
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hand{
    width: 30px;
    height: 30px;
}
.lupa{
    width: 15px;
    height: 15px;
    background-color: white;
    padding: 2px;
    
}

.fa-hand-holding-dollar{
    font-size: 15px;
    padding-right: 5px;
}
.fa-truck{
    display: block;
    margin-bottom: 0px;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.PiePagina{
    text-align: center;
    margin: 15px 0px;
    padding: 15px;
}
.copy{
    text-align: center;
}

footer{
    background-color: white;
}
header{
    background-color: #EAC926;
    width: 100%;
   padding: 20px;
}
main{
    background-color: #ebebeb;
    margin: auto;
    width: 100%;
}


.main-header-bottom{
    display: none;
}
.Navegar{

    list-style: none;
    margin: 0;
    padding: 0;
}
.ofertas{
    text-align: center;
}

.create-form{
    padding: 15px;
/*     display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    width: 100%;
    margin: auto;
    background-color: #ebebeb;
    padding-top: 20px;
}
.Form-content{
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}
.etiqueta{
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 50px;
}
/* .option-label{
    display: block;
    text-align: left;
    padding-left: 50px;
    margin: 15px 0px;
    
} */
.control{
    width: 80%;
    height: 35px;
    max-width: 730px;
}



.buttonContainer{
    text-align: center;
}
/* .button{
    padding: 6px;
    border-radius: 10%;
} */
.button{
    padding: 12px 0px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    width: 63%;
    height: 100%;
    color: #FFF;
    font-weight: bold;
    background-color: #4141ef;
    display: block;
    margin: auto;
    max-width: 730px;
    margin-top: 40px;
    transition: 0.5s;
}
.button:hover{
    background-color: #0022AA;
    cursor: pointer;
}
.imgFooter{
    transition: color 0.5s;
    color: #1259c3;
}
.imgFooter:hover{
    color: #39b54a;
}
@media(min-width:431px){

    .left-navBar{
        padding-right: 10px;
    }
    .right-navBar{
        padding-left: 10px;
    }
    .SearchBarOnly{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0%;
    }
    .SearchBar{
        width: 40%;
        margin-bottom: 0px;
    }

    .hamburguer-bottom{
        display: none;
    }
    .main-header-bottom{
        display: flex;
        justify-content: space-between;
    }
    .main-header-bottom ul{
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
        
    }
    .main-header-bottom li{
        margin: 0 3px;

        padding-right: 0px;
    }
    .TiendaOficial a{
        margin-right: 0px;
    }
    .barraBusqueda{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
    .TextoBusqueda{
        width: 30%;
        max-width: 350px;
        text-align: right;
        margin: 0;
    }
    .barraProvisional{
        text-align: center;
    }
    .main-header-bottom a{
        font-size: 12px;
        margin-top: 40px;
    }

    .logoLink{
        width: 25%;
    } 
    .Navegar li a{
        font-size: 12px;
    }
    .Navegar li.TiendaOficial{
        max-width: 48px;
    }
    .etiqueta{
        text-align: center;
    }
    .birthdate{
        margin: auto;
    }
    .option-label{
        display: block;
        /* text-align: center; */
        padding-left: 45%;
    }
}
@media(min-width:550px){
    .Navegar li.TiendaOficial{
        max-width: 100%;
    }
}
@media(min-width:760px){
    .precio{
        font-size: 14px;
    }
    .descuento{
        font-size: 12px;
    }
    .SearchBar{
        width: 30%;
    }
    .VisitasCliente, .seccionOfertas{
        display: flex;
        flex-wrap: wrap;
        direction: row;
        justify-content: space-around;
    }
    .descripciones{
        display: block;
    }
    .articulos{
     box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .hamburguer-bottom{
        display: none;
    }
    .main-header-bottom{
        display: flex;
        justify-content: space-between;
    }
    .main-header-bottom ul{
        display: flex;
        justify-content: space-between;
    }
    .main-header-bottom li{
        margin: 0 5px;
    }
    .barraBusqueda{
        display: flex;
        justify-content: space-between;
    }
    .TextoBusqueda{
        max-width: 350px;
        text-align: right;
    }
    .barraProvisional{
        text-align: center;
    }
    .main-header-bottom a{
        font-size: 16px;
    }
    .articulos{
        max-width: 20%;
    }
    .left-navBar{
        margin-right: 2px;
    }
    .right-navBar{
        padding-left: 2px;
    }
    .main-header-bottom{
        display: flex;
        justify-content: space-between;
    }
    .logoLink{
        width: 30%;
    }

   
    .birthdate{
        font-size: 18px;
        width: 50%;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        position: relative;
    }
    footer section.PiePagina{
        padding-bottom: 30px;
        margin-bottom: 0px;
    }
    .copy{
        position: absolute;
        bottom: 2px;
        left: 2px;
    }
    .PiePagina{
        width: 25%;
    }
    .create-form{
        padding-bottom: 100px;
        padding-top: 50px;
    }

}

@media(min-width:1200px){
    .logoLink{
        width: 20%;
    }
    .barraBusqueda, .main-header-bottom{
        max-width: 1200px;
        margin: auto;

    }
    .main-header-bottom li{
        margin: 0 10px;
    }
    .main-header-bottom a{
        font-size: 19px;
    }
    .TextoBusqueda{
        max-width: none;
    
    }
    .SearchBar{
        width: 45%;
    }
}